<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>org.waarp.http.protocol.servlet.UploadServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>r66config</param-name>
      <param-value>/tmp/R66/conf/config-serverA-minimal.xml</param-value>
    </init-param>
    <init-param>
      <param-name>authentClassName</param-name>
      <param-value>org.waarp.http.protocol.servlet.HttpAuthentDefault
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/resumable</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>org.waarp.http.protocol.servlet.DownloadServlet
    </servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>r66config</param-name>
      <param-value>/tmp/R66/conf/config-serverA-minimal.xml</param-value>
    </init-param>
    <init-param>
      <param-name>authentClassName</param-name>
      <param-value>org.waarp.http.protocol.servlet.HttpAuthentDefault
      </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
</web-app>
