[Unit]
Description=Starts fetching files from FTP servers for instantance %i

[Timer]
OnBootSec=5m
OnUnitActiveSec=5m
Persistent=true
Unit=waarp-get-ftp@%i.service

[Install]
WantedBy=timers.target

