[Unit]
Description=Verifies files on ftp partners for instance $i 

[Service]
Type=oneshot
ExecStart=/usr/bin/waarp-get-ftp %i
User=waarp
Group=waarp
WorkingDirectory=/var/lib/waarp/%i
