[Unit]
Description=Waarp Gateway FTP server %i

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/waarp-gwftp
ExecStart=/usr/bin/waarp-gwftp %i start
Restart=on-failure
RestartSec=300
User=waarp
User=waarp
Group=waarp
WorkingDirectory=/var/lib/waarp/%i

[Install]
WantedBy=multi-user.target
