[Unit]
Description=Waarp R66 server %i

[Service]
Type=simple
EnvironmentFile=/etc/default/waarp-r66server
;; Environment="JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-amd64"
ExecStart=/usr/bin/waarp-r66server %i start
Restart=on-failure
RestartSec=300
User=waarp
Group=waarp
WorkingDirectory=/var/lib/waarp/%i

[Install]
WantedBy=multi-user.target
