Package: waarp-all
Version: [[version]]
License: GPLv3
Vendor: Waarp SAS
Architecture: all
Maintainer: Bruno CARLIN <bruno.carlin@waarp.fr>
Depends: default-jdk | default-jre, zip, unzip
Section: default
Priority: extra
Homepage: http://www.waarp.fr
Description: Waarp R66 and Waarp Gateway FTP depending on Java
