<configuration>
  <statusListener
    class="org.waarp.common.logging.PrintOnlyWarningLogbackStatusListener"/>
  <appender name="FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/usr/local/goldengateftp/log/GGFTPServer.log</file>
    <Append>true</Append>
    <BufferedIO>false</BufferedIO>
    <ImmediateFlush>true</ImmediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>
        /usr/local/goldengateftp/log/GGFTPServer.%d{yyyy-MM-dd}.%i.log.zip
      </FileNamePattern>
      <MaxHistory>30</MaxHistory>
      <TimeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <MaxFileSize>10MB</MaxFileSize>
      </TimeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %date{dd/MM/yyyy/HH:mm:ss.SSS} %level [%logger] [%thread] %msg%n
      </Pattern>
    </layout>
  </appender>

  <root>
    <level value="warn"/>
    <appender-ref ref="FILE"/>
  </root>
  <logger name="io.netty" level="WARN"/>
</configuration>
