<configuration>
  <statusListener
    class="org.waarp.common.logging.PrintOnlyWarningLogbackStatusListener"/>
  <appender name="FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/usr/local/goldengateftp/log/GGFTPServer.log</file>
    <Append>true</Append>
    <BufferedIO>false</BufferedIO>
    <ImmediateFlush>true</ImmediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>/tmp/testJunit.%d{yyyy-MM-dd}.%i.log.zip
      </fileNamePattern>
      <maxHistory>30</maxHistory>
      <maxFileSize>20MB</maxFileSize>
    </rollingPolicy>

    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %date{dd/MM/yyyy/HH:mm:ss.SSS} %level [%logger] [%thread] %msg%n
      </Pattern>
    </layout>
  </appender>

  <root>
    <level value="warn"/>
    <appender-ref ref="FILE"/>
  </root>
  <logger name="io.netty" level="WARN"/>
</configuration>
