p {
	font-family:Verdana;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
table {
	font-family:Verdana;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
div {
	font-family:Verdana;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
li {
	font-family:Verdana;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
.normal {
	font-family:Verdana;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	font-style:normal;
	margin:0px;
	padding:0px;
}
.h1 {
	font-family:Arial,Verdana;
	font-size:20px;
	color:#333333;
	font-weight:bold;
	margin:12px 0px 4px 0px;
	padding:0px;
}
.h2 {
	font-family:Verdana;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	margin:8px 0px 2px 0px;
	padding:0px;
}
.h3 {
	font-family:Verdana;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	font-style:normal;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.h4 {
	font-family:Verdana;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	font-style:italic;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.h5 {
	font-family:Arial,Verdana;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	font-style:italic;
	margin:4px 0px 0px 0px;
	padding:0px;
}
.h6 {
	font-family:Verdana;
	font-size:11px;
	color:#333333;
	font-weight:bold;
	letter-spacing:1px;
	margin:4px 0px 0px 0px;
	padding:0px;
}
