<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:x0="http://www.w3.org/2001/XMLSchema">
    <comment>Configuration file for a server with a Postgresql database</comment>
    <identity>
        <hostid>{{app_name}}</hostid>
        <sslhostid>{{app_name}}-ssl</sslhostid>
        <cryptokey>etc\certs\cryptokey.des</cryptokey>
    </identity>
    <server>
        <serveradmin>admin</serveradmin>
        <serverpasswd>5a4b7c6a66065cbb622acefec8c3a302</serverpasswd>
        <usenossl>True</usenossl>
        <usessl>True</usessl>
        <usehttpcomp>False</usehttpcomp>
        <uselocalexec>False</uselocalexec>
        <httpadmin>share/r66-admin</httpadmin>
        <admkeypath>etc\certs\adminkey.jks</admkeypath>
        <admkeystorepass>password</admkeystorepass>
        <admkeypass>password</admkeypass>
        <checkaddress>False</checkaddress>
        <checkclientaddress>False</checkclientaddress>
        <pastlimit>86400000</pastlimit>
        <minimaldelay>5000</minimaldelay>
        <multiplemonitors>1</multiplemonitors>
        <!-- <snmpconfig></snmpconfig> -->
    </server>
    <network>
        <serverport>6666</serverport>
        <serversslport>6667</serversslport>
        <serverhttpport>8066</serverhttpport>
        <serverhttpsport>8067</serverhttpsport>
    </network>
    <ssl>
        <keypath>etc\certs\key.jks</keypath>
        <keystorepass>password</keystorepass>
        <keypass>password</keypass>
        <trustkeypath>etc\certs\trustkey.jks</trustkeypath>
        <trustkeystorepass>password</trustkeystorepass>
        <trustuseclientauthenticate>True</trustuseclientauthenticate>
    </ssl>
    <directory>
        <serverhome>data\{{app_name}}</serverhome>
        <in>in</in>
        <out>out</out>
        <arch>arch</arch>
        <work>work</work>
        <conf>conf</conf>
    </directory>
    <rest>
        <restaddress>0.0.0.0</restaddress>
        <restport>8088</restport>
        <restssl>true</restssl>
        <restauthenticated>true</restauthenticated>
        <resttimelimit>3000</resttimelimit>
        <restsignature>true</restsignature>
        <restsigkey>etc\certs\restsigning.key</restsigkey>
        <restmethod>
            <restname>ALL</restname>
            <restcrud>CRUD</restcrud>
        </restmethod>
        <restmethod>
           <restname>Bandwidth</restname>
           <restcrud>CRUD</restcrud>
        </restmethod>
        <restmethod>
           <restname>Information</restname>
           <restcrud>CRUD</restcrud>
        </restmethod>
        <restmethod>
           <restname>Server</restname>
           <restcrud>CRUD</restcrud>
        </restmethod>
        <restmethod>
           <restname>Control</restname>
           <restcrud>CRUD</restcrud>
        </restmethod>
    </rest>
    <limit>
        <serverthread>8</serverthread>
        <clientthread>80</clientthread>
        <runlimit>500</runlimit>
        <usefastmd5>False</usefastmd5>
        <timeoutcon>10000</timeoutcon>
        <delayretry>10000</delayretry>
        <digest>7</digest>
        <blocksize>1048576</blocksize>
        <checkversion>True</checkversion>
        <globaldigest>True</globaldigest>
        <localdigest>False</localdigest>
        <usecpulimit>False</usecpulimit>
        <usejdkcpulimit>False</usejdkcpulimit>
        <connlimit>0</connlimit>
    </limit>
    <db>
        <dbdriver>h2</dbdriver>
        <dbserver>jdbc:h2:.\data\{{app_name}}\db\waarp;AUTO_SERVER=TRUE</dbserver>
        <dbuser>waarp</dbuser>
        <dbpasswd>waarp</dbpasswd>
        <autoUpgrade>false</autoUpgrade>
    </db>
</config>